#sota_de_diamantes{
    position: relative;
    bottom: 85px;
    left: 15px;
    z-index: 1;
}
#reina_de_diamantes{
    position: relative;
    bottom: 170px;
    left: 30px;
    z-index: 2;
}
#rey_de_diamantes{
    position: relative;
    bottom: 255px;
    left: 45px;
    z-index: 3;
}
#as_de_diamantes{
    position: relative;
    bottom: 340px;
    left: 60px;
    z-index: 4;
}